[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
pre-commit = "*"
flake8 = "*"

[packages]
uvicorn = "*"
fastapi = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
python-jose = "*"
passlib = {extras = ["bcrypt"],version = "*"}
python-multipart = "*"
celery = "*"


[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
start-auth-dev = "bash -c 'cd services/auth-service && uvicorn main:app --reload'" 
start-auth = "bash -c 'cd services/auth-service && uvicorn main:app'"
start-file-dev = "bash -c ' cd services/file-service && uvicorn main:app --reload --port 7000'"
start-file = "bash -c 'cd services/file-service && uvicorn main:app --port 7000'"
start-beat =  "bash -c 'cd services/file-service && celery -A app.run_celery beat -l info'"
start-worker =  "bash -c 'cd services/file-service && celery -A app.run_celery worker -l info'"
